.ul li span:hover{
    color: white
}

.ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(max-width:950px){
 .ul li span{
    display: none;
 }
 ul{
    display: none;
 }

}

@media(max-width:600px){
    .ul li{
        display: none;
    }
    .ul{
        display: none;
    }
    .sidebar{
        display: none;
     }
}